[Unit]
Description=Service Jukebox PHP/Java
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/jukebox_play/Application/Jukebox
ExecStart=/bin/bash /home/administrateur/Documents/Script/start_jukebox.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target